:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary: #465929;
}
/* global */
ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

/* heder */
.link-list {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link-list:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

/* hero */
.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  font-size: 128px;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand);
}

/* advantage */

.advantage {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}

/* advantage-text */
.advantage-text {
  font-weight: 300;
  font-size: 20px;
}

/* main */
.main-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.main-title .accent {
  color: var(--color-brand);
}
.accent-dark {
  color: var(--color-secondary);
}

/* section tradition */
.tradition-text .tradition-accent {
  color: var(--color-brand);
  font-weight: 600;
}

.tradition-text .tradition-accent-uppercase {
  color: var(--color-brand);
  font-weight: 600;
  text-transform: uppercase;
}
