@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-700.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-900.ttf") format("truetype");
}

:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary: #465929;
  --color-light: #cfcfbc;
}
/* global */

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
  margin: 0;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.background-color {
  background-color: var(--color-primary-light);
}

/* heder */
.link-list {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link-list:hover {
  color: var(--color-brand);
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

.header {
  background-color: rgb(206, 129, 28);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.menu-items {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* hero */
.hero-section {
  padding: 272px 0;
  background-image: url(../images/hero-section.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  font-size: 128px;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand);
}

/* advantage */

.advantage-section {
  background-color: var(--color-brand);
  padding: 16px 0;
}

.advantage {
  color: var(--color-primary-light);
}

.advantage-item {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* advantage-text */
.advantage-text {
  font-weight: 300;
  font-size: 20px;
}

.container.advantage {
  padding: 0px;
}

/* main */
.main-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
}

.main-title .accent {
  color: var(--color-brand);
}
.accent-dark {
  color: var(--color-secondary);
}

/* section-tradition */

.visibility-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0); /* Скрывает текст за пределами видимой области */
  width: 1px; /* Уменьшаем размер элемента */
  height: 1px; /* Уменьшаем размер элемента */
  margin: 0;
  padding: 0;
}

.tradition-text {
  margin-bottom: 42px;
}
.tradition-text:last-child {
  max-width: 336px;
}

.tradition-text:nth-child(2) {
  max-width: 620px;
}

.tradition-text .tradition-accent {
  color: var(--color-brand);
  font-weight: 600;
}

.tradition-text .tradition-accent-uppercase {
  color: var(--color-brand);
  font-weight: 600;
  text-transform: uppercase;
}

.tradition {
  padding-top: 96px;
}

.tradition-title {
  margin-bottom: 42px;
}

.tradition-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.tradition-content {
  display: flex;
  flex-direction: column;
  flex-basis: 708px;
}
/* section-chef */
.chef {
  text-align: center;
}
.chef-text {
  text-transform: uppercase;
}
.article-title {
  font-weight: 600;
  font-size: 60px;
}

.chef-title {
  margin-bottom: 80px;
  max-width: 560px;
  margin: 0 auto 80px;
}

.chef-title::before {
  display: block;
  content: "";
  border: 2px solid var(--color-light);
  width: 352px;
}

.chef-title::after {
  display: block;
  content: "";
  border: 2px solid var(--color-light);
  width: 352px;
}

.chefs-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px #a18268;
}

.chef-list {
  display: flex;
  gap: 30px;
}

.chef-card {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-item {
  gap: 30px;
  display: flex;
}

/* section-frmat */

.flex-container {
  display: flex;
  align-items: center;

  gap: 32px;
}

.formats-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

.fotmat-title {
  margin-bottom: 80px;
}

.format-card {
  height: 444px;
  border: 1px solid var(--color-brand);
  border-radius: 16px;
  padding: 24px;
  flex-grow: 1;
  background: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    #31261a 100%
  );
}

.format-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.formats-item {
  display: flex;
  flex-basis: calc((100% - 40px) / 3);
}

.format-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  fill: var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
}

.format-arrow:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-primary-dark);
}

/* contact-title */

.contact-title {
  margin-bottom: 16px;
}

/* footer */

.address-list {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
}

.address-list:hover {
  color: var(--color-brand);
}

.address-icons {
  fill: var(--color-primary-light);
}

.address-icons:hover {
  fill: var(--color-brand);
}
.protected {
  color: #a18268;
}

.footer {
  background-image: url(../images/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
}
