@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-700.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v21-latin-900.ttf") format("truetype");
}

:root {
  --color-brand: #819b57;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary: #465929;
}
/* global */
ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 18px;
}

address {
  font-style: normal;
}

/* heder */
.link-list {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link-list:hover {
  color: var(--color-brand);
  font-weight: 600;
}

.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-secondary);
  background-color: transparent;
}

/* hero */
.hero-title {
  color: var(--color-primary-light);
  font-weight: 900;
  font-size: 128px;
  text-align: center;
}

.hero-title .accent {
  color: var(--color-brand);
}

/* advantage */

.advantage {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}

/* advantage-text */
.advantage-text {
  font-weight: 300;
  font-size: 20px;
}

/* main */
.main-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}

.main-title .accent {
  color: var(--color-brand);
}
.accent-dark {
  color: var(--color-secondary);
}

/* section-tradition */
.tradition-text .tradition-accent {
  color: var(--color-brand);
  font-weight: 600;
}

.tradition-text .tradition-accent-uppercase {
  color: var(--color-brand);
  font-weight: 600;
  text-transform: uppercase;
}

/* section-chef */
.chef {
  text-align: center;
}
.article-title {
  font-weight: 600;
  font-size: 60px;
}

/* section-frmat */
.format-title {
  font-weight: 600;
  font-size: 24px;
}

.format-text {
  font-weight: 300;
  font-size: 14px;
}

/* footer */

.address-list {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
}

.address-list:hover {
  color: var(--color-brand);
}

.protected {
  color: #a18268;
}
