.contact-title {
  margin-bottom: 16px;
  text-align: start;
  font-weight: 600;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border-radius: 16px;
}

.section-contact {
  padding-bottom: 96px;
}
