.main-title {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  text-align: center;
}

.main-title .accent {
  color: var(--color-brand);
}
.accent-dark {
  color: var(--color-secondary);
}
